.App {
    --header_height: 60px;
    height: 100vh;
}

.hw {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
}

.hw>div {
    width: 100%;
}

.hwTitle {
    line-height: 2;
    font-weight: bold;
    padding-left: 50px;
}

.hwTitle::after {}